.your-gaming-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 9922px) {
  .your-gaming-item {
    gap: 30px;
  }
}
@media (max-width: 772px) {
  .your-gaming-item {
    justify-content: center;
    gap: 30px;
  }
}
.game-name {
  display: flex;
  align-items: center;
}

.game-name img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.game-name ul {
  padding-top: 10px;
}

.game-name ul li h4 {
  font-size: 16px;
}

.game-name ul li span {
  color: #666;
  font-size: 14px;
}

.your-gaming-ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  padding-top: 10px;
}

@media (max-width: 992px) {
  .your-gaming-ul {
    gap: 20px;
    justify-content: center;
  }
  .your-gaming-ul li {
    text-align: center;
  }
}

.your-gaming-ul li h4 {
  font-size: 16px;
}

.your-gaming-ul li span {
  color: #666;
  font-size: 14px;
}

hr {
  color: #666;
}

.your-gaming-button a {
  background-color: transparent;
  border: 0.5px solid #666;
}
