@media (min-width:1200px) {
    .streams-second-column .wrapper-text h3 {
        transform: translateY(0px) !important;
        -webkit-transform: translateY(0px) !important;
        -moz-transform: translateY(0px) !important;
        -ms-transform: translateY(0px) !important;
        -o-transform: translateY(0px) !important;
}

}
.streams-second-column .wrapper {
    padding-bottom: 35px;
}
.top-streams {
    margin-top: 30px;
}
.top-streams ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 0;
}
.top-streams ul li:nth-child(2) img {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.featured-games .second-column .top-streams-button .main-button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 12px;
    margin: 6px;
}