.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (max-width:772px) {
    .container {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
.navbar-list {
    background-color: #212529;
    padding: 20px 0;
}