.page-content {
    background-color: #27292a;
    padding: 60px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media (max-width:772px) {
    .page-content {
        padding: 15px;
    }
}