.wrapper {
    background-color: #212529;
    margin-top: 60px;
    border-radius: 20px;
    padding: 30px 30px 50px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.wrapper-text {
    display: flex;
    align-items:flex-end;
    gap: 10px;
    margin-bottom: 20px;
}
@media (max-width:772px) {
   .wrapper-text {
    justify-content: center;
   }
}
.wrapper h2 {
    font-weight: 700;
    text-decoration: underline;
}
@media (max-width:772px) {
    h2 {
        font-size: 20px;
    }
}
.wrapper h3 {
    font-weight: 700;
    color: #ec6090;
}
@media (max-width:772px) {
    h3 {
        font-size: 20px;
    }
}
.wrapper-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
@media (max-width:772px) {
    hr {
        margin: 30px;
    }
}