.details-content {
  background-color: #27292a;
  position: relative;
  text-align: center;
}
.details-content .feature-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 772px) {
  .details-content .feature-content {
    justify-content: center;
  }
}
.details-content .feature-content img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.details-content .feature-content img:nth-child(1) {
  width: 290px;
  max-width: 100%;
}
@media (max-width: 772px) {
  .details-content .feature-content img:nth-child(1) {
    width: 100%;
  }
}
.details-content .feature-content img:nth-child(2) {
  max-width: 100%;
}
.details-content h1 {
  padding-top: 40px;
}
.fortnite-details .fortnite-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fortnite-details .fortnite-content .fortnite-first-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.fortnite-details .fortnite-content .fortnite-first-section .box1 {
  flex: 1 45%;
  height: 125px;
  padding: 0 30px;
  background-color: #27292a;
  display: flex;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.fortnite-details .fortnite-content .fortnite-first-section .box1 ul {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.fortnite-details .fortnite-content .fortnite-first-section .box2 {
  height: 125px;
  padding: 0 30px;
  background-color: #27292a;
  flex: 1 45%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.fortnite-details .fortnite-content .fortnite-first-section .box2 ul {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.fortnite-details .fortnite-content .fortnite-first-section .box2 ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.fortnite-details .fortnite-content .fortnite-image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
@media ( max-width:992px) {
  .fortnite-details .fortnite-content .fortnite-image-section {
    justify-content: center;
  }
}
.fortnite-details .fortnite-content .fortnite-image-section img {
  max-width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
@media ( max-width:772px) {
  .fortnite-details .fortnite-content .fortnite-image-section img{
    width: 100%;
  }
}
.fortnite-details .main-button {
  display: none;
}
.fortnite-details button {
  background-color: transparent;
  color: #ec6090;
  border: 1px solid #ec6090;
  font-weight: normal;
  outline: none;
  padding: 12px 30px;
  font-size: 14px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 772px) {
  .fortnite-details button {
    padding: 12px 18px;
  }
}
.fortnite-details button:hover {
  background-color: #fff;
  color: #ec6090;
}
@media (max-width: 992px) {
  .other-games .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.fortnite-details p {
  font-weight: 300 !important;
  color: #666;
}
.other-games .main-button {
  display: none;
}
.other-games-content .other-games-details {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 772px) {
  .other-games-content .other-games-details {
    gap: 0;
  }
}
.other-games-content .other-games-details .your-gaming-item {
  width: 40%;
}
@media (min-width: 1200px) {
  .other-games-content .other-games-details .your-gaming-item {
    width: 45%;
  }
}
@media (max-width: 772px) {
  .other-games-content .other-games-details .your-gaming-item {
    width: 100%;
  }
}
.other-games-content .other-games-details .your-gaming-item .game-name {
  width: 100%;
}
.other-games-content .other-games-details .your-gaming-item .game-name ul {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
.other-games-content
  .other-games-details
  .your-gaming-item
  .game-name
  ul
  .rating-info {
  display: block;
}
