.cards-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width:992px) {
    .cards-holder {
        justify-content: center;
        gap: 30px;
    }
}
