.second-column .wrapper {
    padding-bottom: 30px;
}
div.rating-info {
    display: inline;
}
.top-downloaded-link {
    display: flex;
    justify-content: center;
}
.top-downloaded-link a{
    color: #ec6090;
}