
.card-wrapper {
    padding: 15px 15px;
    background-color: #27292a ;
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media (max-width:772px) {
    .card-wrapper {
        width: 100%;
    }
}

.Most-Popular-item-image {
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.Most-Popular-item-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
    font-size: 12px;
}
.Most-Popular-item-title {
    font-size: 12px;
    line-height: 1.6;
}