.live-steam-boxes {
    display: flex;
    gap: 20px;
    margin: 40px 0;
}
@media (max-width:992px) {
    .live-steam-boxes {
        flex-wrap: wrap;
    }
}
.live-steam-box {
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 0.5px solid #666;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.live-steam-box img {
    width: 60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.live-steam-box p {
    font-size: 15px;
    color: #666;
}
.live-steam .wrapper {
    background-color: #27292a;
}
.live-steam .wrapper .wrapper-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}